<div class="section-container">
  <div class="content-container d-flex align-items-center justify-content-center">
    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-6 d-flex align-items-center justify-content-center">
          <div data-aos="fade-up" data-aos-duration="2000" class="form-container" [formGroup]="formGroup">
            <h1>Get Started Today</h1>
            <p>Everything you need to grow your business.<br>Order our services today!</p>
            <div class="input-container">
              <app-input-custom [placeholder]="'Full Name'" formControlName="name"></app-input-custom>
              <app-input-custom [placeholder]="'Email'" [type]="'email'"  formControlName="email"></app-input-custom>
              <app-input-custom [placeholder]="'Phone Number'"  formControlName="phone"></app-input-custom>
              <app-input-custom [placeholder]="'Contact Reason'" [type]="'area'"  formControlName="reason"></app-input-custom>
            </div>
            <app-button class="ml-auto" [text]="'Submit Now!'" [ml]="'auto'"></app-button>
          </div>
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
  </div>
</div>

