<div class="section-container">
  <div class="container-fluid h-100">
    <div class="row d-flex align-items-center justify-content-center text-container">
      <div class="col-12">
        <p data-aos="fade-down" data-aos-duration="2000">
          <span>¡ CREAMOS TUS PROYECTOS !</span><br><br>
          Contamos con <span>4</span> pasos<br>
          para la creación de tu <span>proyecto</span>.<br>
          <!-- <span>Adaptive Services</span> and <span>Solutions</span> <br>
          to Our Customers to Achieve and <span>Satisfy Their Needs</span><br> -->
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/req.png'">
          <h1>Obtención de Requerimientos.</h1>
          <p>Organizamos una entrevista para poder entender tu necesidad. En este paso hacemos un análisis de tu negocio para poder encontrar la mejor solución.</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/propuesta.png'">
          <h1>Diseño de Propuesta.</h1>
          <p>Diseñamos el programa a tu medida y entregamos una propuesta de las interfaces gráficas.</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/implementar.png'">
          <h1>Implementación y Capacitación.</h1>
          <p>Una vez creada la solución, instalamos el programa en tus dispositivos y capacitamos al personal.</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/seguimiento.png'">
          <h1>Seguimiento.</h1>
          <p>Soporte y mantenimiento de tu solución por parte del equipo de wikoud.</p>
        </div>
      </div>
    </div>
  </div>
</div>
