<div class="section-container">
  <div class="container-fluid h-100">
    <div class="row d-flex align-items-center justify-content-center text-container">
      <div class="col-12">
        <p data-aos="fade-down" data-aos-duration="2000">
          <span>¡ CREAMOS TUS PROYECTOS !</span><br><br>
          Contamos con <span>4</span> pasos<br>
          para la creación de tu <span>proyecto</span>.<br>
          <!-- <span>Adaptive Services</span> and <span>Solutions</span> <br>
          to Our Customers to Achieve and <span>Satisfy Their Needs</span><br> -->
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/req.png'">
          <p>Obtención de Requerimientos.</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/propuesta.png'">
          <p>Diseño de Propuesta.</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/implementar.png'">
          <p>Implementación y Capacitación.</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="p-container" data-aos="fade-up" data-aos-duration="2000">
          <img [src]="this.ASSETS + '/img/iconos/seguimiento.png'">
          <p>Seguimiento.</p>
        </div>
      </div>
    </div>
  </div>
</div>
