<div class="section-container">
  <div class="container-fluid h-100 w-100">
    <div class="row d-flex align-items-center justify-content-center text-container">
      <div class="col-12">
        <p data-aos="fade-down" data-aos-duration="2000">
          <span>¡ SIMPLIFICA TUS PROCESOS !</span><br><br>
          Utilizamos las <span>tecnologías</span> más recientes<br>
          para brindarte un <span>mejor servicio</span>.<br>
          <!-- <span>Adaptive Services</span> and <span>Solutions</span> <br>
          to Our Customers to Achieve and <span>Satisfy Their Needs</span><br> -->
        </p>
      </div>
    </div>
    <hr>
    <div class="row d-flex align-items-start justify-content-center area-container mt-5">
      <div data-aos="fade-up" data-aos-duration="2000" class="col-12 col-md-auto px-4 mb-5" *ngFor="let area of areas">
        <app-area-item [title]="area.title" [description]="area.description" [img]="area.img"></app-area-item>
      </div>
    </div>
  </div>
</div>
