<div class="section-container">
  <div class="container-fluid h-100 w-100">
    <div class="row d-flex align-items-center justify-content-center text-container">
      <div class="col-12">
        <p  data-aos="fade-down" data-aos-duration="2000" >
          We Always Take Attention to Every Details Within Work.<br>
          We Care to Deliver and Craft<br>
          <span>Adaptive Services</span> and <span>Solutions</span> <br>
          to Our Customers to Achieve and <span>Satisfy Their Needs</span><br>
          </p>
      </div>
    </div>
    <hr>
    <div class="row d-flex align-items-center justify-content-center area-container">
      <div data-aos="fade-up" data-aos-duration="2000"  class="col" *ngFor="let item of items"><app-area-item ></app-area-item></div>
    </div>
  </div>
</div>
