<div class="section-container">
  <div class="content-container">
    <div class="container-fluid">
      <div class="row d-flex-align-items-center">
        <div class="col-6 px-5">
          <h5 data-aos="fade-down" data-aos-duration="2000">WE CODE STUFFS</h5>
          <h1 data-aos="fade-left" data-aos-duration="2000">We Do Professional Things To Grow Your Busines</h1>
          <h3 data-aos="fade-up" data-aos-duration="2000">We care to deliver and craft adaptive services and solutions to our customers to achieve and satisfy their
            needs. We always take attention to every details within work</h3>
          <app-button [text]="'Lets Get Started!'"></app-button>
        </div>
      </div>

    </div>
  </div>
  <div class="logo-container">
    <img src="../../../assets/img/logo.png" alt="" height="100%">
  </div>
</div>
