<div class="section-container">
  <div class="logo-container">
    <img [src]="this.ASSETS + '/img/logonv_white.png'" alt="" height="100%">
  </div>
  <div class="content-container">
    <div class="container-fluid">
      <div class="row d-flex-align-items-center">
        <div class="col-12 col-md-6 px-5">
          <h5 data-aos="fade-down" data-aos-duration="2000">WE CODE STUFFS</h5>
          <h1 data-aos="fade-left" data-aos-duration="2000">Creamos Software a la medida.</h1>
          <h3 data-aos="fade-up" data-aos-duration="2000">En Wikoud analizamos tus ideas, comprendemos tus necesidades para poder simplificar los procesos de tu negocio.</h3>
          <!-- <app-button [text]="'Contactanos'"></app-button> -->
        </div>
      </div>

    </div>
  </div>
  
</div>
